<ion-view view-title="Juegos y más">
  

  	

  	<link rel="stylesheet" href="../css/memoria.css">
     <ion-content class="memoria">   
	<div class="row">
  <div class="col m5"> 
    <h3>Hoooola, ya la Viste? </h3>
    <img src="https://rogerthat.be/images/praktijk5/oops.png" alt="Happy Tree Friends" />
    <p>Si... 
      Así es, este es el Gran JUEGO, Puedes intentarlo y acumularás Vitaminas</p>
    <p>Para crecer GRANDE Y FUERTE, Aprende más, buscando a nuestro Creador Eber(Chino).</p> 
    <h5> @Eber.Perez</h5>
    
    <div id="found">
    </div>    
    
    
  </div>
  <div class="col m7">
    <table class="tablej">
      <tr class="trj">
        <td class="tdj">
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td> 
        <td>
          <div class="memory-block"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
      </tr>  
    </table>  
  </div>
</div>




    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>

